.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*app*/

/*principal*/
.inicio {
  min-height: 100vh;
  background-color: #282c34;
  color: azure;
}

.columna{
  width: 30rem;
}

.container{
 display: flex; 
 justify-content: center;
}

.separar{
  justify-content: space-around;
}

h1{
  color: rgb(4, 112, 253);
  text-shadow:  0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

h2{
  margin-top: 1rem;
  color: rgb(91, 241, 252);
  text-shadow:  0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
}

h3{
  margin-top: 2rem;
  color: rgb(42, 250, 105);
  text-shadow:  0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

select{
  height: 2rem;
  background-color: rgb(91, 241, 252);
  border-radius: 2rem;
  padding: 0.2rem;
  font-weight: 700;  
}
select:hover{
  cursor: pointer;
}

.contenedor_select{
  align-items: center;
  
}

.listas_container{
  background-color: rgb(73, 73, 73);
  border-style:solid;
  border-radius: 2rem;
  border-width: 0.1rem;
  border: 2px solid #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.lista_items_realizado{
  text-decoration: line-through;
  text-decoration-color: red;
}

.lista_item_eliminar{
  color: red;
  
}

.input_agregar{
  background-color: white;
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 2rem;
}

.nombre{
  width: 75%;
}

.cantidad{
  width: 25%;
}

.boton{
  margin: 0.1rem;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
}

.boton:hover{
  cursor: pointer;
}

.boton_agregar{
  font-weight: 900;
  color: black;
  width: 100%;
  background-color: rgb(42, 250, 105);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.base{
  font-size: 1.3rem;
  font-weight: 700;
}

.prueba{
  display: grid;
  grid-template-rows: auto;
  width: 100%;
}

.fila_prueba{
  display: grid;
  grid-template-columns: repeat(5, 5.5rem);
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: circle;
  padding: 0rem;
}

.fila{
  display: grid;
  grid-template-columns: 30% 15% 20% 15% 20%;
  text-align: left;
  align-items: center;
}

.nombres{
  display: flex;
  justify-content: center;
}

.items_nombre{
  max-width: 10rem;
}

.input_color{
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.checkbox_item{
  margin-left: 1.5rem;
}





.lista_contenedor {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 3rem;
}

.lista_encabezado {
  display: grid;
  grid-template-columns: 40% 15% 20% 15% 10%; 
  font-weight: bold;
  background-color: #444;
  color: white;
  padding: 1rem;
  border-bottom: 2px solid #ccc;
}

.lista_item {
  display: grid;
  grid-template-columns: 40% 15% 20% 15% 10%;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.item_realizado {
  text-decoration: line-through;
  text-decoration-color: red;
}

.item_nombre {
  max-width: 40%; 
  overflow-wrap: break-word; 
}
.item_cantidad {
  max-width: 15%;
}

.item_checkbox {
  max-width: 20%;
}

.item_eliminar, .item_editar {
  max-width: 15%;
}

.boton_eliminar, .boton_editar {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton_eliminar {
  margin-left: 1rem;
  background-color: red;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.boton_editar {
  background-color: blue;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.label_editar{
  margin-top: 15rem;
}


